.logoInfo {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
}

img {
    width: 143px;
    height: 82.5px;
}

#opentxt {
    font-family: calibri;
    display:flex;
    align-self: center;

}

#content {
    display:inline-flex;
    justify-content:flex-end;
    color: darkred;
}

#list {
    display: flex;
    margin-left: 35%;
    flex-direction: column;
}

#head {
    color: darkred;
}
