.logoInfo {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
}

img {
    width: 143px;
    height: 82.5px;
}

#opentxt {
    font-family: calibri;
    display:flex;
    align-self: center;

}

#content {
    display:inline-flex;
    justify-content:flex-end;
    color: darkred;
}

#head {
    color: darkred;
}

#img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}
